<html>
    <head>
        <title>Login</title>
    </head>
    <style>
        input {
            margin: 0 0 0.5em 0;
        }
    </style>
    <body>
        <h1>Login</h1>
        {{if .message}}
            <section>
                {{ .message | unescapeHTML}}
            </section>
        {{end}}
        <form action="/login" method="post">
            <div><label>Username: <input type="text" name="username" /></label></div>
            <div><label>Password: <input type="password" name="password" /></label></div>
            <div><input type="submit" value="Login" /></div>
        </form>
    </body>
</html>
